body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* width: 550px; */
  border: 1px solid #ccc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #FFFFFF;
  padding: 0 29px;
}

.header-left {
  display: flex;
  align-items: center;
}

.troll-face {
  width: 31px;
}
  
.header-title {
  font-size: 21px;
  margin-left: 7px;
}

.header-info {
  font-size: 12px;
  font-weight: 300;
}

.meme-container {
  margin: 28px 36px;
}

.meme-input-fields {
  display: flex;
  justify-content: space-between;
  gap: 33px
}

.top-text-block, 
.bottom-text-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 14px;
}

.top-text,
.bottom-text {
  color: #374151;
  font-size: 14px;
}

.top-field,
.bottom-field {
  margin-top: 3px;
  color: #6B7280;
  border: 0.82px solid #D1D5DB;
  border-radius: 5px;
  padding: 10px 7px;

}

.meme-button {
  font-size: 16px;
  color: white;
  width: 100%;
  margin-top: 15px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border: none;
  border-radius: 5px;
  height: 40px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.meme-img {
  max-height: 300px;
  max-width: 550px;
}